body, html
    overflow-x: hidden
    height: 100%
    background: $primary-background
    color: $primary-text
p, h1, h2, h3, h4, h5
    color: $primary-text
button
    background: $accent-color

button:hover
    background: #0383ad

.flex-col
    display: flex
    flex-direction: column

.flex-row
    display: flex
    flex-direction: row

::-webkit-scrollbar
    width: $scrollbar-width

::-webkit-scrollbar-track
    background: $secondary-background
    margin-bottom: $footer-height

::-webkit-scrollbar-thumb
    border-radius: 0.6rem
    background: #888

.content-wrapper
    max-width: 1000px
    width: 100%
    margin: 0 auto
    padding: 20px

.content-container
    display: flex
    flex-direction: column
    gap: 10px

.content-item
    display: flex
    justify-content: center

.content-image
    height: auto
    padding-bottom: 20px

::-webkit-scrollbar-thumb:hover
    background: #555

.dark-mode::-webkit-scrollbar-track
    background: $secondary-background-dark

.dark-mode::-webkit-scrollbar-thumb
    background: #696767

.dark-mode::-webkit-scrollbar-thumb:hover
    background: #4d4d4d

.dark-mode
    background: $primary-background-dark
    color: $secondary-text

    p, h1, h2, h3, h4, h5
        color: $secondary-text
    button
        background: $accent-color-dark
    button:hover
        background: #09c5e1