$primary-background: #FFFFFF
$secondary-background: #F7F8F8
$accent-color: #027DA5

$primary-background-dark: #121212
$secondary-background-dark: #252525
$accent-color-dark: #05B6D1

$primary-text: #212225
$secondary-text: #E0E0E0