$primary-background: #FFFFFF
$secondary-background: #F7F8F8
$accent-color: #027DA5

$primary-background-dark: #252525
$secondary-background-dark: #2d2d2f
$accent-color-dark: #05B6D1

$primary-text: #212225
$secondary-text: #E0E0E0

$footer-height: 3.4rem
$top-bottom-margin: 0.7rem
